:root {
    --media-am-color-gray-950: #030712;
    --media-am-color-white: #FFFFFF;
    --media-am-color-white-rgb: 255, 255, 255;

    --media-am-color-media-dark-950: #212530;
    --media-am-color-media-dark-900: #2E3444;
    --media-am-color-media-dark-600: #4D5B7C;
    --media-am-color-media-dark-500: #617296;
    --media-am-color-media-dark-200: #D3D8E4;
    --media-am-color-media-dark-100: #EBEDF3;
    --media-am-color-media-dark-50: #F6F7FA;

    --media-am-color-media-red-400: #E599A1;
    --media-am-color-media-red-700: #BD6265;
    --media-am-color-media-red-900: #A93539;
    --media-am-color-media-red-950: #A01F23;

    --media-am-color-slate-600: #475569;
    --media-am-color-slate-700: #555555;
    --media-am-color-slate-950: #000000;

    --media-am-color-section-soft: #F6F7FA;
    --media-am-color-image-placeholder: #F2F2F2;
    --media-am-color-overlay-rgb: 3, 7, 18;
}
